[submodule "jsonlab"]
	path = jsonlab
	url = https://github.com/fangq/jsonlab.git
[submodule "vistasoft"]
	path = vistasoft
	url = https://github.com/soichih/vistasoft.git
[submodule "wma_tools"]
	path = wma_tools
	url = https://github.com/DanNBullock/wma_tools.git
